header {
  margin: 0 auto;
  overflow-x: hidden;
  font-weight: var(--fw-800);
}

.nav {
  // display: flex;
  // align-items: center;
  // justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
  border-bottom: 1px solid var(--clr-neutral-500);
  #{&}-links {
    display: flex;

    & > :first-child {
      border-left: none;
    }

    & > :last-child {
      border-right: none;
    }
  }

  &-item {
    padding: 12px 0.5em 0 8px;
    border-left: 1px solid var(--clr-neutral-500);
    border-right: 1px solid var(--clr-neutral-500);
    flex-grow: 1;

    a {
      text-decoration: none;
      white-space: nowrap;
      color: inherit;
    }

    span {
      padding: 0 1em;
    }
  }
}

.nav-hidden {
  padding: 1rem 0.5rem;
  display: none;

  &__inner {
    columns: 5.8rem auto;
    column-rule: 1px solid var(--clr-neutral-300);
    gap: 1.5rem;
    font-weight: var(--fw-800);
    border-bottom: 1px solid var(--clr-neutral-500);

    svg {
      cursor: pointer;
      &:hover {
        fill: var(--clr-neutral-300);
        background-color: var(--clr-active);
      }
    }
  }
}

.inner-nav {
  display: flex;
  flex-wrap: wrap;
}

.hide-item {
  padding: 0;
  margin: 0;
  border: none;
  visibility: hidden;
  height: 0;
  z-index: -10;
  overflow: hidden;
}

@media only screen and (max-width: 600px) {
  #icon--search {
    display: none;
  }
}

@media only screen and (max-width: 1000px) {
  #icon--signIn {
    display: none;
  }
}
