@use '../abstracts/colors' as clr;
/* Navigation styles */

header {
  margin: 0 auto;
  overflow-x: hidden;
  font-weight: var(--fw-800);
}

.nav {
  border-bottom: 1px solid var(--clr-neutral-500);
  #{&}-links {
    display: flex;
    max-width: 1300px;
    margin: 0 auto;

    & > :first-child {
      border-left: none;
      flex-basis: 1%;
      & > * {
        float: right;
      }
    }

    & > :nth-child(3) {
      flex: 0 0 1%;
    }

    & > :last-child {
      border-right: none;
      flex-basis: 1%;
    }
  }

  &-item {
    padding: 12px 0.5em 0 8px;
    border-left: 1px solid var(--clr-neutral-500);
    border-right: 1px solid var(--clr-neutral-500);
    border-bottom: 5px solid transparent;
    cursor: pointer;
    flex-grow: 1;
    white-space: nowrap;

    a {
      padding: 0.25em 0.75em;
      color: inherit;
      display: flex;
    }
  }

  &--inner {
    display: flex;
    // flex-wrap: wrap;
  }

  &-hidden {
    padding: 1rem 0.5rem;
    border-bottom: 1px solid var(--clr-neutral-500);

    &__inner {
      max-width: 1300px;
      margin: 0 auto;
      padding: 1rem;
      columns: 5.8rem auto;
      gap: 1.5rem;
      font-weight: var(--fw-800);
    }

    &--item {
      color: var(--clr-neutral-700);
      &:hover {
        color: var(--clr-neutral-300);
        background-color: var(--clr-neutral-700);
      }
    }
  }
}

.nav--inner {
  [data-index] {
    display: none;
  }
}

.nav-hidden__inner {
  [data-index] {
    display: block;
  }
}

@media (min-width: 42.9375em) {
  .nav--inner [data-index="0"] {
    display: flex;
  }

  .nav-hidden__inner {
    [data-index="0"] {
      display: none;
    }
  }
}

@media (min-width: 52.5em) {
  .nav--inner [data-index="1"] {
    display: flex;
  }

  .nav-hidden__inner {
    [data-index="1"] {
      display: none;
    }
  }
}
@media (min-width: 56.5625em) {
  .nav--inner [data-index="2"] {
    display: flex;
  }
  .nav-hidden__inner {
    [data-index="2"] {
      display: none;
    }
  }
}
@media (min-width: 65.625em) {
  .nav--inner [data-index="3"] {
    display: flex;
  }
  .nav-hidden__inner {
    [data-index="3"] {
      display: none;
    }
  }
}
@media (min-width: 71.875em) {
  .nav--inner [data-index="4"] {
    display: flex;
  }
  .nav-hidden__inner {
    [data-index="4"] {
      display: none;
    }
  }
}
@media (min-width: 89.0625em) {
  .nav--inner [data-index="5"] {
    display: flex;
  }
  .nav-hidden__inner {
    [data-index="5"] {
      display: none;
    }
  }
}
@media (min-width: 100em) {
  .nav--inner [data-index="6"] {
    display: flex;
  }
  .nav-hidden__inner {
    [data-index="6"] {
      display: none;
    }
  }
}
@media (min-width: 112.1875em) {
  .nav--inner [data-index="7"] {
    display: flex;
  }
  .nav-hidden__inner {
    [data-index="7"] {
      display: none;
    }
  }
}
@media (min-width: 128.125em) {
  .nav--inner [data-index="8"] {
    display: flex;
  }
  .nav-hidden__inner {
    [data-index="8"] {
      display: none;
    }
  }
}
@media (min-width: 171.25em) {
  .nav--inner [data-index="9"] {
    display: flex;
  }
  .nav-hidden__inner {
    [data-index="9"] {
      display: none;
    }
  }
  // .main-nav__primary {
  //   justify-content: flex-start;
  // }
  // .nav-item {
  //   padding: 0 0.65em;
  // }
}

@each $color, $value in clr.$colors {
  [data-#{$color}] {
    &:hover,
    &:active {
      border-bottom: 5px solid var(--clr-#{$color});
    }
  }
}

.hide-item {
  padding: 0;
  margin: 0;
  border: none;
  visibility: hidden;
  height: 0;
  z-index: -10;
  overflow: hidden;
}

// @media only screen and (max-width: 600px) {
//   [data-search] {
//     display: none;
//   }
// }

// @media only screen and (max-width: 1000px) {
//   [data-signIn] {
//     display: none;
//   }
// }
