@use '../abstracts/colors' as clr;
/* Navigation styles */

header {
  margin: 0 auto;
  overflow-x: hidden;
  font-weight: var(--fw-800);
}

.nav {
  border-bottom: 1px solid var(--clr-neutral-500);
  #{&}-links {
    display: flex;
    max-width: 1300px;
    margin: 0 auto;

    & > :first-child {
      border-left: none;
      flex-basis: 1%;
    }

    & > :nth-child(3) {
      flex: 1 0 1%;
    }

    & > :last-child {
      border-right: none;
      flex-basis: 1%;
    }
  }

  &-item {
    padding: 0.75rem 0.5em 0 0.5rem;
    border-left: 1px solid var(--clr-neutral-500);
    border-right: 1px solid var(--clr-neutral-500);
    border-bottom: 5px solid transparent;
    cursor: pointer;
    flex-grow: 1;
    white-space: nowrap;

    a {
      padding: 0.25em 1em;
      color: inherit;
      display: flex;
    }
  }

  &--inner {
    display: flex;
  }

  &-hidden {
    padding: 1rem 0.5rem;
    border-bottom: 1px solid var(--clr-neutral-500);

    &__inner {
      max-width: 1300px;
      margin: 0 auto;
      padding: 1rem;
      columns: 5.8rem auto;
      gap: 1.5rem;
      font-weight: var(--fw-800);
    }

    &--item {
      color: var(--clr-neutral-700);
      flex-grow: 1;
      &:hover {
        color: var(--clr-neutral-300);
        background-color: var(--clr-neutral-700);
      }
    }
  }
}

/* Hover classes for each nav element */
@each $color, $value in clr.$colors {
  [data-#{$color}] {
    &:hover,
    &:active {
      border-bottom: 5px solid var(--clr-#{$color});
    }
  }
}

/* Responsive nav elements controlled through media queries */
.nav--inner {
  [data-index] {
    display: none;
  }
}

.nav-hidden__inner {
  [data-index] {
    display: block;
  }
}

[data-search] {
  display: none;
}

[data-signIn] {
  display: none;
}

@media (min-width: 440px) {
  .nav--inner [data-index="0"] {
    display: flex;
  }

  .nav-hidden__inner {
    [data-index="0"] {
      display: none;
    }
  }
}

@media (min-width: 465px) {
  .nav--inner [data-index="1"] {
    display: flex;
  }

  .nav-hidden__inner {
    [data-index="1"] {
      display: none;
    }
  }
}

@media (min-width: 550px) {
  .nav--inner [data-index="2"] {
    display: flex;
  }
  .nav-hidden__inner {
    [data-index="2"] {
      display: none;
    }
  }
}

@media (min-width: 655px) {
  .nav--inner [data-index="3"] {
    display: flex;
  }
  .nav-hidden__inner {
    [data-index="3"] {
      display: none;
    }
  }
  [data-search] {
    display: block;
  }
}

@media (min-width: 740px) {
  .nav--inner [data-index="4"] {
    display: flex;
  }
  .nav-hidden__inner {
    [data-index="4"] {
      display: none;
    }
  }
}

@media (min-width: 845px) {
  .nav--inner [data-index="5"] {
    display: flex;
  }
  .nav-hidden__inner {
    [data-index="5"] {
      display: none;
    }
  }
}

@media (min-width: 930px) {
  .nav--inner [data-index="6"] {
    display: flex;
  }
  .nav-hidden__inner {
    [data-index="6"] {
      display: none;
    }
  }
}

@media (min-width: 1060px) {
  .nav--inner [data-index="7"] {
    display: flex;
  }
  .nav-hidden__inner {
    [data-index="7"] {
      display: none;
    }
  }
  [data-signIn] {
    display: block;
  }
}

@media (min-width: 1300px) {
  .nav--inner [data-index="8"] {
    display: flex;
  }
  .nav-hidden__inner {
    [data-index="8"] {
      display: none;
    }
  }

  .nav--inner [data-index="9"] {
    display: flex;
  }
  .nav-hidden__inner {
    [data-index="9"] {
      display: none;
    }
  }
}
