$colors: (
  neutral-100: #ffffff,
  neutral-300: #eeeeee,
  neutral-500: #bebdbd,
  neutral-700: #3d3d3d,
  neutral-900: #282828,
  active: #006def,
  home: #007bc7,
  news: #bb1919,
  sport: #ffd230,
  weather: #88ccee,
  iplayer: #ed3d7d,
  sounds: #ff4900,
  cbbs: #90d200,
  cbeebies: #ffe513,
  banner: #233459
);
