$font-sizes: (
  text-xl: (
    1.5rem,
    3vw,
    2rem
  ),
  text-lg: (
    1.25rem,
    2vw,
    1.5rem
  ),
  text-md: (
    1rem,
    1vw,
    1.25rem
  ),
  text-sm: (
    0.8125rem,
    1vw,
    0.875rem
  )
);

// 10px = 0.625rem
// 12px = 0.75rem
// 14px = 0.875rem
// 16px = 1rem (base)
// 18px = 1.125rem
// 20px = 1.25rem
// 24px = 1.5rem
// 30px = 1.875rem
// 32px = 2rem
